<div class="container-fluid modCelular" style="min-height: 1000px;">


  <mat-toolbar color="primary" style="background-color: rgb(7, 18, 34);">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="BtnFlotante()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span style="color: white;"><strong> Logo School </strong><span></span><mat-icon aria-hidden="false" aria-label="Example home icon">school</mat-icon></span>
    <span class="spacer"></span>

    <a class="btn" mat-list-item style="background-color: rgb(86, 161, 247);" (click)="Inicio()" matTooltip = "Inicio"><i class="material-icons">home</i></a>
    <a class="btn ui-state-default" mat-list-item style="background-color: rgb(86, 161, 247);" (click)="ShowRegistrarse()">Registrarse</a>
    <a class="btn ui-state-default" mat-list-item style="background-color: rgb(86, 161, 247);" (click)="ShowLogin()">Iniciar Sesión </a>
  
  </mat-toolbar>
  
  
  <div class="row col m12 s12 anulaPaddMarr"  style="min-height: 550px;z-index: -10; padding: 0px; background-color: rgb(255, 255, 255);">
        
    <!-- Imagen de perfil del colegio-->
    <div class="row col m12 s12 anulaPaddMarr" style="background-color: rgb(17, 31, 53); margin-bottom: 0px !important;padding-bottom: 0px !important;">

      <div class="col m12 s12 anulaPaddMarr center" style="margin-bottom: 0px;padding-bottom: 0px; margin-top: 0px !important; padding-top: 0px !important;">
        
        <div class="col m12 anulaPaddMarr" style="margin-bottom: 0px;padding-bottom: 0px; margin-top: 0px !important; padding-top: 0px !important;">
          <img class="Imagenes anulaPaddMarr" [src]="emblemaRta" style="width: 100%; height: auto; ;max-height: 800px !important;">
        </div>
      
      </div>

    </div>

    <!-- Barra de navegacion del colegio seleccionado-->
    <div class="row col m12 s12 center anulaPaddMarr" style="text-align: center;margin: auto;padding: 0px; z-index: -1;">
      <ul class="menu anulaPaddMarr" style="z-index: 1;">
    
        <li><a (click)="clickShowMenu()" style="cursor: pointer; z-index:1;">Menu</a> 
          <ul [ngStyle]="{'display':var_Menu == 0 ? 'none' : '' }">
                        
            <li (click)="clickClose()"><a style="cursor: pointer;" (click)="showInicio()">Inicio</a></li>
            <li (click)="clickClose()"><a style="cursor: pointer;" (click)="showQuienesSomos()">Quienes Somos</a></li>
            <li (click)="clickClose()"><a style="cursor: pointer;" (click)="showActividades()">Actividades</a></li>
            <li (click)="clickUl_Niv()"><a style="cursor: pointer;">Niveles</a>
                <ul [ngStyle]="{'display':var_niv == 0 ? 'none' : '' }">
                    <li><a style="text-align: center;cursor: pointer;background-color: rgb(49, 75, 112);" *ngIf="boolInicial" (click)="getNivel('Inicial')">Inicial</a></li>
                    <li><a style="text-align: center;cursor: pointer;background-color: rgb(49, 75, 112);" *ngIf="boolPrimaria" (click)="getNivel('Primaria')">Primaria</a></li>
                    <li><a style="text-align: center;cursor: pointer;background-color: rgb(49, 75, 112);" *ngIf="boolSecundaria" (click)="getNivel('Secundaria')">Secundaria</a></li>
                </ul>
            </li>
            <li (click)="clickClose()"><a style="cursor: pointer" (click)="showTalleres()">Talleres</a></li>
            <li (click)="clickClose()"><a style="cursor: pointer" (click)="showInfraestructura()">Infraestructura</a></li>
          </ul>
        </li>

      </ul>
    </div>

    <!-- anuncios del colegio-->
    <div class="row col m12 s12 anulaPaddMarr" style="margin-top: 30px;" *ngIf="divInicio">
      <div class="col m12 s12 anulaPaddMarr" style="height: 550px;">
        <div class="carousel  center-align">
          <div class="carousel-item" *ngFor="let item of arrayAnuncios;let i = index" style="height: 150px; width: 270px;">
              <img  (click)="openModalImg('ac',item)" [src]="'http://localhost:3000/' + item.imgCod.colImgRta || 'assets/no-image-icon-11.png'">
          </div>
        </div>
      </div>  
    </div>

    <!-- Caja de apartado quienes somos-->
    <div class="row col s12" *ngIf="divQs">
      <div class="col s12 center" style="margin-top: 50px;margin-bottom: 55px;">
          <h5 style="color: rgb(3, 3, 41);"> <strong>Quienes Somos</strong></h5>
      </div>

      <div class="row col s12 center"  *ngIf="divMision" style="margin-top: 0px;"> 

        <span style="font-size: 20px;margin-top: 10px; color: rgb(1, 1, 39); font-style: normal;"><strong>{{objMision.qsTtl}}</strong></span>
          <div class="col s12">
              <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('ms',objMision)" [src]="'http://localhost:3000/' + objMision.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
                </div>
              </div>
          </div>

          <div class="col s12 center" style="max-height: 280px;">
              <div class="card white darken-1 PuntosSuspensivos anulaPaddMarr" style="margin-top: 0px;max-height: 280px;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">
                  <div class="card-content white-text PuntosSuspensivos anulaPaddMarr" style="margin-bottom: 0;padding-bottom: 0;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">
                  
                      <span id="myTextarea" style="color: black; text-align: center;font-style: italic; font-size: 13px;">{{objMision.qsDes}} </span>
                  </div>
              </div>
          </div>
      </div>

      <div class="row col s12 center"  *ngIf="divVision" style="margin-top: 20px;">


          <span style="font-size: 20px;margin-top: 10px; color: rgb(1, 1, 39); font-style: normal;"><strong>{{objVision.qsTtl}}</strong></span>
          <div class="col s12">
              <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('vs',objVision)" [src]="'http://localhost:3000/' + objVision.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
                </div>
              </div>
          </div>

          <div class="col s12 center" style="max-height: 280px;">
              <div class="card white darken-1 PuntosSuspensivos anulaPaddMarr" style="margin-top: 0px;max-height: 350px;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">
                  <div class="card-content white-text PuntosSuspensivos anulaPaddMarr" style="margin-bottom: 0;padding-bottom: 0;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">
                  
                      <span id="myTextarea" style="color: black; text-align: center;font-style: italic; font-size: 13px;">{{objVision.qsDes}} </span>
                  </div>
              </div>
          </div>
      </div>

      <div class="row col s12 center"  *ngIf="divValores" style="margin-top: 20px;margin-bottom: 20px; background-color: rgb(255, 255, 255);"> 

        <span style="font-size: 20px;margin-top: 10px; color: rgb(1, 1, 39); font-style: normal;"><strong>{{objValores.qsTtl}}</strong></span>
        <div class="col s12">
            <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
              <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                <img class="Imagenes" (click)="openModalImg('va',objValores)" [src]="'http://localhost:3000/' + objValores.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
              </div>
            </div>
        </div>

        <div class="col s12 center" style="max-height: 280px;">
            <div class="card white darken-1 PuntosSuspensivos anulaPaddMarr" style="margin-top: 0px;max-height: 350px;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">
                <div class="card-content white-text PuntosSuspensivos anulaPaddMarr" style="margin-bottom: 0;padding-bottom: 0;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">
                
                    <span id="myTextarea" style="color: black; text-align: center;font-style: italic; font-size: 13px;background-color: rgb(255, 255, 255);">{{objValores.qsDes}} </span>
                </div>
            </div>
        </div>

      </div>
    </div>

    <!-- Caja de apartado actividades-->
    <div class="row col s12 anulaPaddMarr" *ngIf="divActividades">

      <div class="col s12 center" style="margin-top: 50px;margin-bottom: 55px;">
        <h5 style="color: rgb(3, 3, 41);">Nuestras Actividades</h5>
      </div>

      <div class="row col s12" style="margin-top: 0px;">

        <div class="col s12">
          <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
            <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
              <img class="Imagenes" (click)="openModalImg('ac',objEbzActividad)" [src]="'http://localhost:3000/' + objEbzActividad.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
            </div>
          </div>
      </div>

        <div class="col s12 center">
            <span style="text-align: center; font-style: italic;">
              
                {{objEbzActividad.actDes}}
              
            </span>
        </div>
      </div>

      <div class="row col s12 anulaPaddMarr" style="margin-top: 25px;"> 

        <div class="col s12">
          <div class="col s12" *ngFor="let actividad of arrayActividades" style="margin-bottom: 25px;">
              <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >

                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('ac',actividad)" [src]="'http://localhost:3000/' + actividad.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
                </div>

                <div class="card-content white-text PuntosSuspensivos center" style="background-color: rgb(255, 255, 255);max-height: 150px; border-radius: 10px; padding-top: 0px;">
                  <span class="card-title" style="color: rgb(44, 171, 221);font-size: 16px; text-align: center; margin-top: 0px;"><strong>{{actividad.actTtl}}</strong></span>
                  <span id="myTextarea" style="color: black; text-align: center;font-style: italic;">{{actividad.actDes}} </span>
                </div>

              </div>
          </div>
        </div>
    
      </div>
    </div>

    <!-- Caja de apartado niveles-->
    <div class="row col s12 anulaPaddMarr" *ngIf="divNiveles">

      <div class="col s12 center" style="margin-top: 50px;margin-bottom: 55px;">
        <h5 style="color: rgb(3, 3, 41);">Nivel {{objEbzNivel.nivTtl}}</h5>
      </div>

      <div class="row col s12" style="margin-top: 0px;">

        <div class="col s12">
            <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
              <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                <img class="Imagenes" (click)="openModalImg('ni',objEbzNivel)"  [src]="'http://localhost:3000/' + objEbzNivel.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
              </div>
            </div>
        </div>

        <div class="col s12 center">
          <div class="col s12 center">
            <span style="text-align: center; font-style: italic; color: rgb(13, 13, 83);">
              
                {{objEbzNivel.nivDes}}
              
            </span>
          </div>
        </div>
      </div>

      <div class="row col s12 anulaPaddMarr" style="margin-top: 25px;"> 

        <div class="col s12">
          <div class="col s12" *ngFor="let nivel of arrayNiv" style="margin-bottom: 25px;">
              <div class="card" style="border-radius: 10px; border: 0!important;box-shadow: none!important;" >

                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('ni',nivel)" [src]="'http://localhost:3000/' + nivel.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
                </div>

                <div class="card-content white-text PuntosSuspensivos center" style="background-color: rgb(255, 255, 255);max-height: 150px; border-radius: 10px; padding-top: 0px;">
                  <span id="myTextarea" style="color: black; text-align: center;font-style: italic;">{{nivel.nivDes}} </span>
                </div>

              </div>
          </div>
        </div>
    
      </div>
    </div>

    <!-- Caja de apartado talleres-->
    <div class="row col s12 anulaPaddMarr" *ngIf="divTalleres">

      <div class="col s12 center" style="margin-top: 50px;margin-bottom: 55px;">
        <h5 style="color: rgb(3, 3, 41);">Nuestros Talleres</h5>
      </div>

      <div class="row col s12" style="margin-top: 0px;">

        <div class="col s12">
            <div class="card" style="border-radius: 10px; border: 0!important;box-shadow: none!important;" >
              <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                <img class="Imagenes" (click)="openModalImg('ta',objEbzTaller)" [src]="'http://localhost:3000/' + objEbzTaller.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
              </div>
            </div>
        </div>

        <div class="col s12 center">
          <div class="col s12 center">
            <span style="text-align: center; font-style: italic; color: rgb(13, 13, 83);">
                {{objEbzTaller.talDes}}
            </span>
          </div>
        </div>

      </div>

   
        <div class="row col s12 anulaPaddMarr" style="margin-top: 25px;"> 
          <div class="col s12">
            <div class="col s12" *ngFor="let taller of arrayTalleres" style="margin-bottom: 25px;">
                <div class="card" style=" border-radius: 10px; border: 0!important;box-shadow: none!important;" >
  
                  <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                    <img class="Imagenes" (click)="openModalImg('ta',taller)" [src]="'http://localhost:3000/' + taller.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
                  </div>
  
                  <div class="card-content white-text PuntosSuspensivos center" style="max-height: 150px; border-radius: 10px; padding-top: 0px;background-color: rgb(255, 255, 255);">
                    <span class="card-title" style="color: rgb(44, 171, 221);font-size: 16px; text-align: center; margin-top: 0px;"><strong>{{taller.talTtl}}</strong></span>
                    <span id="myTextarea" style="color: black; text-align: center;font-style: italic;">{{taller.talDes}} </span>
                  </div>
  
                </div>
            </div>
          </div>
        </div>
     

    </div>

    <!-- Caja de apartado infraestructura-->
    <div class="row col s12 anulaPaddMarr" *ngIf="divInfraestructura">

      <div class="col s12 center" style="margin-top: 50px;margin-bottom: 55px;">
        <h5 style="color: rgb(3, 3, 41);">Nuestra Infraestructura</h5>
      </div>

      <div class="row col s12" style="margin-top: 0px;">

        <div class="col s12">
            <div class="card" style="border-radius: 10px; border: 0!important;box-shadow: none!important;" >
              <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                <img class="Imagenes" (click)="openModalImg('in',objEbzInfraestructura)" [src]="'http://localhost:3000/' + objEbzInfraestructura.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
              </div>
            </div>
        </div>

        <div class="col s12 center">
          <div class="col s12 center">
            <span style="text-align: center; font-style: italic; color: rgb(13, 13, 83);">
              {{objEbzInfraestructura.infDes}}
            </span>
          </div>
        </div>

      </div>

      <div class="row col s12 anulaPaddMarr" style="margin-top: 25px;"> 
        <div class="col s12">
          <div class="col s12" *ngFor="let infraestructura of arrayInfraestructura" style="margin-bottom: 25px;">
              <div class="card" style=" border-radius: 10px; border: 0!important;box-shadow: none!important;" >

                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('in',infraestructura)" [src]="'http://localhost:3000/' + infraestructura.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 190px; border-radius: 10px;">
                </div>

                <div class="card-content white-text PuntosSuspensivos center" style="max-height: 150px; border-radius: 10px; padding-top: 0px;background-color: rgb(255, 255, 255);">
                  <span class="card-title" style="color: rgb(44, 171, 221);font-size: 16px; text-align: center; margin-top: 0px;"><strong>{{infraestructura.infTtl}}</strong></span>
                  <span id="myTextarea" style="color: black; text-align: center;font-style: italic;">{{infraestructura.infDes}} </span>
                </div>

              </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col m12 anulaPaddMarr" *ngIf="DivregLog">
      <app-persona *ngIf="mntRegistro" class="col m12" style="padding: 0px;margin-top: 65px;"></app-persona>
      <app-login *ngIf="mntLogin" class="col m12" style="padding: 0px;margin-top: 65px;"></app-login>             
    </div>

  </div>

</div>

<div class="container-fluid modPantalla" style="min-height: 1500px;">

  <mat-toolbar color="primary" style="background-color: rgb(7, 18, 34);">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="BtnFlotante()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span style="color: white;"><strong> Logo School </strong><span></span><mat-icon aria-hidden="false" aria-label="Example home icon">school</mat-icon></span>
    <span class="spacer"></span>

    <a class="btn" mat-list-item style="background-color: rgb(86, 161, 247);" (click)="Inicio()" matTooltip = "Inicio"><i class="material-icons">home</i></a>
    <a class="btn ui-state-default" mat-list-item style="background-color: rgb(86, 161, 247);" (click)="ShowRegistrarse()">Registrarse</a>
    <a class="btn ui-state-default" mat-list-item style="background-color: rgb(86, 161, 247);" (click)="ShowLogin()">Iniciar Sesión </a>
  
  </mat-toolbar>

  <div class="row col m12 s12 anulaPaddMarr"  style="min-height: 550px;z-index: -10; padding: 0px; background-color: rgb(255, 255, 255);">
        
    <!-- Emblema y nombre del colegio-->
    <div class="row col m12 anulaPaddMarr" style="background-color: rgb(52, 83, 129); margin-bottom: 0px !important;padding-bottom: 0px !important;">

      <div class="col m12 anulaPaddMarr center" style="margin-bottom: 0px;padding-bottom: 0px; margin-top: 0px !important; padding-top: 0px !important;">
        
        <div class="col m12 anulaPaddMarr" style="margin-bottom: 0px;padding-bottom: 0px; margin-top: 0px !important; padding-top: 0px !important;">
          <img class="Imagenes anulaPaddMarr" [src]="emblemaRta" style="width: 100%; height: auto; ;max-height: 800px !important;">
        </div>
      
      </div>

    </div>

    <!-- Barra de navegacion del colegio seleccionado-->
    <div class="row col m12 center" *ngIf="true" style="text-align: center; margin: auto;margin-top: 0px;padding: 0px;background-color: rgb(52, 83, 129);">
      <div id="header center " >
        <ul class="navBar" style="padding-bottom: 10px;">
            
          <li><a style="cursor: pointer;" (click)="showInicio()">Inicio</a></li>
            <li><a style="cursor: pointer;" (click)="showQuienesSomos()">Quienes Somos</a></li>
            <li><a style="cursor: pointer;" (click)="showActividades()">Actividades</a></li>
            <li><a style="cursor: pointer;">Niveles</a>
                <ul>
                    <li><a style="text-align: left;cursor: pointer;" *ngIf="boolInicial" (click)="getNivel('Inicial')">Inicial</a></li>
                    <li><a style="text-align: left;cursor: pointer;" *ngIf="boolPrimaria" (click)="getNivel('Primaria')">Primaria</a></li>
                    <li><a style="text-align: left;cursor: pointer;" *ngIf="boolSecundaria" (click)="getNivel('Secundaria')">Secundaria</a></li>
                </ul>
            </li>
            <li><a style="cursor: pointer" (click)="showTalleres()">Talleres</a></li>
            <li><a style="cursor: pointer" (click)="showInfraestructura()">Infraestructura</a></li>
        </ul>
      </div>
    </div>

    <!-- Anuncios del colegio-->
    <div class="row col m12 s12 anulaPaddMarr" *ngIf="divInicio">
      <div class="col m12 s12 anulaPaddMarr" style="min-height: 550px;">
        <div class="carousel  center-align" >
          <div class="carousel-item" style="z-index: 9999;" *ngFor="let item of arrayAnuncios;let i = index">
              <img  [src]="'http://localhost:3000/' + item.imgCod.colImgRta || 'assets/no-image-icon-11.png'">
          </div>
        </div>
      </div>  
    </div>

    <!-- Caja de apartado quienes somos-->
    <div class="row col m12" *ngIf="divQs">
      <div class="col m12 center" style="margin-top: 70px;margin-bottom: 80px;">
          <h4 style="color: rgb(3, 3, 41);">Quienes Somos</h4>
      </div>

      <div class="row col m12"  *ngIf="divMision" style="margin-top: 10px;"> 

          <div class="col m5">
              <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('ms',objMision)" [src]="'http://localhost:3000/' + objMision.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 300px; border-radius: 10px;">
                </div>
              </div>
          </div>

          <div class="col m7 center" style="height: 280px;background-color: rgb(255, 255, 255);">

              <span style="font-size: 30px;margin-top: 10px; color: rgb(1, 1, 39); font-style: normal;"><strong>{{objMision.qsTtl}}</strong></span>
          
              <div class="card anulaPaddMarr" style="margin-top: 20px;height: 280px;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">
                  <div class="card-content white-text anulaPaddMarr" style="margin-bottom: 0;padding-bottom: 0;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">
                      <textarea [value]="objMision.qsDes" class="content" disabled readonly name="" id="myTextarea" cols="30" rows="10" style="max-height: 219px;min-height: 219px;resize: none;border: none !important; font-style: italic; text-align: center;background-color: rgb(255, 255, 255);">              
                      </textarea>
                  </div>
              </div>
          </div>
      </div>

      <div class="row col m12"  *ngIf="divVision" style="margin-top: 50px;">
          <div class="col m7 center" style="height: 280px;background-color: rgb(255, 255, 255);">

              <span style="font-size: 30px;margin-top: 10px; margin-bottom: 0px; color: rgb(1, 1, 39); font-style: normal;"><strong>{{objVision.qsTtl}}</strong></span>

              <div class="card  anulaPaddMarr" style="margin-top: 20px;height: 280px;border: 0!important;box-shadow: none!important;background-color: rgb(255, 255, 255);">
                <div class="card-content white-text anulaPaddMarr" style="margin-bottom: 0;padding-bottom: 0;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">                
                  <textarea [value]="objVision.qsDes" class="content"  disabled readonly name="" id="myTextarea" cols="30" rows="10" style="max-height: 219px;min-height: 219px;resize: none;border: none !important; font-style: italic; text-align: center; background-color: rgb(255, 255, 255);">              
                  </textarea>
                </div>
  
              </div>
          </div>

          <div class="col m5">
              <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('vs',objVision)" [src]="'http://localhost:3000/' + objVision.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 300px; border-radius: 10px;">
                </div>
              </div>
          </div>
      </div>

      <div class="row col m12"  *ngIf="divValores" style="margin-top: 50px;"> 

      <div class="col m5">
        <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
          <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
            <img class="Imagenes" (click)="openModalImg('va',objValores)" [src]="'http://localhost:3000/' + objValores.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 300px; border-radius: 10px;">
          </div>
        </div>
      </div>

      <div class="col m7 center" style="height: 280px;">
        <span style="font-size: 30px;margin-top: 10px; color: rgb(1, 1, 39); font-style: normal;"><strong>{{objValores.qsTtl}}</strong></span>
    
        <div class="card anulaPaddMarr" style="margin-top: 20px;height: 280px;border: 0!important;box-shadow: none!important; background-color: rgb(255, 255, 255);">
            <div class="card-content white-text anulaPaddMarr" style="margin-bottom: 0;padding-bottom: 0;border: 0!important;box-shadow: none!important;">
                <textarea [value]="objValores.qsDes" class="content" disabled readonly name="" id="myTextarea" cols="30" rows="10" style="max-height: 219px;min-height: 219px;resize: none;border: none !important; font-style: italic; text-align: center; background-color: rgb(255, 255, 255);">              
                </textarea>
            </div>
        </div>        
      </div>

      </div>
    </div>

    <!-- Caja de apartado actividades-->
    <div class="row col m12 anulaPaddMarr" *ngIf="divActividades">

      <div class="col m12 center" style="margin-top: 70px;margin-bottom: 40px;">
        <h4 style="color: rgb(3, 3, 41);">Nuestras Actividades</h4>
      </div>

      <div class="row col m12" style="margin-top: 20px;">

        <div class="col m12">
          <div class="col m3" style="width: 30%;"></div>
          <div class="col m3" style="width: 40%;">
            <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
              <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                <img class="Imagenes" (click)="openModalImg('ac',objEbzActividad)" [src]="'http://localhost:3000/' + objEbzActividad.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 300px; border-radius: 10px;">
              </div>
            </div>
          </div>
          <div class="col m3" style="width: 30%;"></div>
        </div>

        <div class="col m12 center">
          <div class="col m3"></div>
          <div class="col m6 center">
            <span style="text-align: center; font-style: italic;">
              
                {{objEbzActividad.actDes}}
              
            </span>
          </div>
          <div class="col m3"></div>
        </div>
      </div>

      <div class="row col m12 anulaPaddMarr" style="margin-top: 90px;"> 

        <div class="col m12">
          <div class="col m4" *ngFor="let actividad of arrayActividades" >
              <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important; height: 450px;" >
                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('ac',actividad)" [src]="'http://localhost:3000/' + actividad.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 290px;border-radius: 7px;">
                </div>

                <div class="card-content white-text PuntosSuspensivos center" style="background-color: rgb(255, 255, 255);max-height: 150px; border-radius: 10px; padding-top: 0px;">
                  <span class="card-title" style="color: rgb(44, 171, 221);font-size: 16px; text-align: center; margin-top: 0px;"><strong>{{actividad.actTtl}}</strong></span>
                  <span id="myTextarea" style="color: black; text-align: center;font-style: italic;">{{actividad.actDes}} </span>
                </div>

              </div>
          </div>
        </div>
    
      </div>
    </div>

    <!-- Caja de apartado niveles-->
    <div class="row col m12 anulaPaddMarr" *ngIf="divNiveles">

      <div class="col m12 center" style="margin-top: 70px;margin-bottom: 40px;">
        <h4 style="color: rgb(3, 3, 41);">Nivel {{objEbzNivel.nivTtl}}</h4>
      </div>

      <div class="row col m12" style="margin-top: 20px;">

        <div class="col m12">
          <div class="col m3" style="width: 30%;"></div>
          <div class="col m3" style="width: 40%;">
            <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
              <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                <img class="Imagenes" (click)="openModalImg('ni',objEbzNivel)" [src]="'http://localhost:3000/' + objEbzNivel.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 300px; border-radius: 10px;">
              </div>
            </div>
          </div>
          <div class="col m3" style="width: 30%;"></div>
        </div>

        <div class="col m12 center">
          <div class="col m3"></div>
          <div class="col m6 center">
            <span style="text-align: center; font-style: italic;">
              
                {{objEbzNivel.nivDes}}
              
            </span>
          </div>
          <div class="col m3"></div>
        </div>

        

      </div>

      <div class="row col m12 anulaPaddMarr" style="margin-top: 90px;"> 

        <div class="col m12">
          <div class="col m4" *ngFor="let nivel of arrayNiv">
              <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important; height: 450px;" >
                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('ni',nivel)" [src]="'http://localhost:3000/' + nivel.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 290px;border-radius: 7px;">
                </div>

                <div class="card-content white-text PuntosSuspensivos center" style="background-color: rgb(255, 255, 255);max-height: 150px; border-radius: 10px; padding-top: 0px;">
                  <span id="myTextarea" style="color: black; text-align: center;font-style: italic;">{{nivel.nivDes}} </span>
                </div>

              </div>
          </div>
        </div>
    
      </div>
    </div>

    <!-- Caja de apartado talleres-->
    <div class="row col m12 anulaPaddMarr" *ngIf="divTalleres">

      <div class="col m12 center" style="margin-top: 70px;margin-bottom: 40px;">
        <h4 style="color: rgb(3, 3, 41);">Nuestros Talleres</h4>
      </div>

      <div class="row col m12" style="margin-top: 20px;">

        <div class="col m12">
          <div class="col m3" style="width: 30%;"></div>
          <div class="col m3" style="width: 40%;">
            <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
              <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                <img class="Imagenes" (click)="openModalImg('ta',objEbzTaller)" [src]="'http://localhost:3000/' + objEbzTaller.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 300px; border-radius: 10px;">
              </div>
            </div>
          </div>
          <div class="col m3" style="width: 30%;"></div>
        </div>

        <div class="col m12 center">
          <div class="col m3"></div>
          <div class="col m6 center">
            <span style="text-align: center; font-style: italic;">
              
                {{objEbzTaller.talDes}}
              
            </span>
          </div>
          <div class="col m3"></div>
        </div>
      </div>

      <div class="row col m12 anulaPaddMarr" style="margin-top: 90px;"> 

        <div class="col m12">
          <div class="col m4" *ngFor="let taller of arrayTalleres">
              <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;height: 450px;" >
                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('ta',taller)" [src]="'http://localhost:3000/' + taller.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 290px;border-radius: 7px;">
                </div>

                <div class="card-content white-text PuntosSuspensivos center" style="background-color: rgb(255, 255, 255);max-height: 150px; border-radius: 10px; padding-top: 0px;">
                  <span class="card-title" style="color: rgb(44, 171, 221);font-size: 16px; text-align: center; margin-top: 0px;"><strong>{{taller.talTtl}}</strong></span>
                  <span id="myTextarea" style="color: black; text-align: center;font-style: italic;">{{taller.talDes}} </span>
                </div>

              </div>
          </div>
        </div>
    
      </div>

    </div>

    <!-- Caja de apartado infraestructura-->
    <div class="row col m12 anulaPaddMarr" *ngIf="divInfraestructura">

      <div class="col m12 center" style="margin-top: 70px;margin-bottom: 40px;">
        <h4 style="color: rgb(3, 3, 41);">Nuestra Infraestructura</h4>
      </div>

      <div class="row col m12" style="margin-top: 20px;">

        <div class="col m12">
          <div class="col m3" style="width: 30%;"></div>
          <div class="col m3" style="width: 40%;">
            <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important;" >
              <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                <img class="Imagenes" (click)="openModalImg('in',objEbzInfraestructura)" [src]="'http://localhost:3000/' + objEbzInfraestructura.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 300px; border-radius: 10px;">
              </div>
            </div>
          </div>
          <div class="col m3" style="width: 30%;"></div>
        </div>

        <div class="col m12 center">
          <div class="col m3"></div>
          <div class="col m6 center">
            <span style="text-align: center; font-style: italic;">
              
                {{objEbzInfraestructura.infDes}}
              
            </span>
          </div>
          <div class="col m3"></div>
        </div>
      </div>

      <div class="row col m12 anulaPaddMarr" style="margin-top: 90px;"> 

        <div class="col m12">
          <div class="col m4" *ngFor="let infraestructura of arrayInfraestructura">
              <div class="card" style="background-color: rgb(255, 255, 255); border-radius: 10px; border: 0!important;box-shadow: none!important; height: 450px;" >
                <div class="card-image" style="border-radius: 10px; border: 0!important;box-shadow: none!important;">
                  <img class="Imagenes" (click)="openModalImg('in',infraestructura)" [src]="'http://localhost:3000/' + infraestructura.imgCod.colImgRta" style="margin-top: 0px;margin-bottom: 0px;height: 290px;border-radius: 7px;">
                </div>

              

                <div class="card-content white-text PuntosSuspensivos" style="background-color: white;height: 150px;">
                  <span class="card-title" style="color: rgb(44, 171, 221);font-size: 16px;text-align: center;"><strong>{{infraestructura.infTtl}}</strong></span>
                  <span id="myTextarea" style="color: black;text-align: center;">{{infraestructura.infDes}} </span>
                </div>

              </div>
          </div>
        </div>
    
      </div>

    </div>

    <div class="col m12 anulaPaddMarr" *ngIf="DivregLog">
      <app-persona *ngIf="mntRegistro" class="col m12" style="padding: 0px;margin-top: 65px;"></app-persona>
      <app-login *ngIf="mntLogin" class="col m12" style="padding: 0px;margin-top: 65px;"></app-login>             
    </div>

  </div>
</div>



  
  