<div class="row col s12" style="z-index: 99999;">

    <div class="col s12">
    
        <div class="col s12">
            <div class="col s12">
                <a class="btn col s12" mat-list-item style="background-color: rgb(21, 62, 122);" (click)="sendOption(1)">Colegios</a>
            </div>
        </div>
     
    </div>

    <div class="col s12" style="margin-top: 8px;">
    
        <div class="col s12">
            <div class="col s12">
                <a class="btn col s12" mat-list-item style="background-color: rgb(21, 62, 122);" (click)="sendOption(2)">Registrarse</a> 
            </div>
        </div>
      
    </div>

    <div class="col s12" style="margin-top: 8px;">
       
        <div class="col s12">
            <div class="col s12">
                <a class="btn col s12" mat-list-item style="background-color: rgb(21, 62, 122);" (click)="sendOption(3)">Iniciar Sesión</a>
            </div>
        </div>

    </div>

</div>