.imagenClass{
    width: 100%;
    height: auto;

    max-height: 450px;
    object-fit: cover;
    margin: auto;
}

.contenedor-galeria{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 400px;
    margin: 0;
    padding: 0;
}

  .Imagenes{
    width: 400px;
    height: 180px;
    margin-bottom: 30px;
    cursor: pointer;
    object-fit: cover;
    filter: brightness(70%);
  }
  
  .Imagenes:hover{
  
    filter: brightness(100%);
  }

  .anulaPaddMarr{
    padding: 0;
    margin: 0;
  }

   /***************Menu Acordeon******************************/
    /***************Menu Acordeon***************************/
 .menu{
  padding:0;
  list-style:none;
  width:100%;
  font-size:14px;
  margin: auto;
  background:#c1c1c1;
  border: 1px solid rgba(0,0,0,0.8);
}

.menu li a{
  display: block;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  border-top: 1px solid rgba(255,255,255, 0.2);
  background:rgb(29, 51, 85);
  text-decoration:none;
  color:#FFF;
  text-shadow: 1px 0px 1px rgba(0,0,0,0.2);
  filter: dropshadow(color=#000, offx=1, offy=0);
  text-align: center;
}

.menu li ul li a{
  font-size:14px;
  color:#47689d;
  text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
  text-align: center;
}

.menu li a{
  background:#4a6ba2;
  transition: background 0.3s ease-in;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  text-align: center;
}

.menu ul{
  margin:0;
  padding:0;
  list-style:none;
  height:0;
  overflow: hidden;
  transition:0.3s;
  -moz-transition:1s;
  -webkit-transition:1s;
  text-align: center;
}

.menu li ul{
  height:auto;
  overflow-y:hidden;
  overflow-x:hidden;
  text-align: center;
}

.menu ul li a{
  background:#fafafa;
}

.menu ul li a {
  background: none repeat scroll 0 0 #ccc;
  color: #fff;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  text-align: center;
}

#myTextarea{
  font-size: 14px; 
  white-space: pre-line;
  
}

.PuntosSuspensivos{
  width:auto;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.custom-dialog-container .mat-dialog-container {
  padding: 8px !important;
}

.content {
  border: 1px dashed gray;
padding: .5em;

white-space: pre-wrap;
height: 5em;
overflow-y: scroll; /* se habilita el scroll vertical */
}

.content::-webkit-scrollbar { 
/* solo oculta su visualizacion */
display: none;
}