<div class="col m12">

    <div class="row col m12 center">
        <h5><b>Crear Tema</b></h5>
    </div>

    <div class="row col m12 center" style="margin-top: 20px;">
        <div class="input-field col m12 center">
            <input type="text" name="ModeloLibro.libTtl" id="ModeloLibro.libTtl" placeholder="Titulo del tema"
            style="text-align: center;">
        </div>
    </div>

    <div class="row col m12 center" style="margin-top: 20px;">
        <div class="col m12 center">
            <label style="font-size: 14px;">Descripción</label>
        </div>

        <div class="row col m12 blue-grey" style="margin-top: 8px; padding-top: 15px; padding-bottom: 15px;">
            <div class="col m12 scroll2">
                <textarea class="scroll2 col m12 textAreaClass" cdkTextareaAutosize>
                </textarea>
            </div>
        </div>
    </div>

    <div class="row col m12 center" style="margin-top: 20px;">
    
    </div>




</div>
